body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#contents {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr;
  @media (min-width: 600px) {
    grid-template-columns: minmax(25%, 25ch) 1fr;
  }
}
